@import "tailwindcss";


ul {
    list-style: none;
}


.Hero{
    position: relative;
    background-image: url("./assets/pizza-bg-orange.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}



section > *{
    position: relative;
    z-index: 1;
}

.Hero .Pizza {
    border-radius: 999px;
    outline: 2px solid #dddd;
  transform-origin: center  !important;
  animation: rotatePizza 15s linear infinite;
}

.Items-button > button{
  background-color: red;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Keyframes for continuous circular spin */
@keyframes rotatePizza {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


